{% extends "Core/base.html" %}
{% load static %}
{% block title %}catalog{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
	{% for product in products %} 
	<div class="flex-column" style="width: 16rem;">
		<img src="{{ product.img.url }}" class="d-flex" style="width: 640px; margin-top: 100px; margin-bottom: 100px;" alt="...">
		<div class="card-body">
			<h5 class="card-title">{{ product.name }}</h5>
			<div class="d-flex">
				<span class="fs-3 fw-bold">{{ product.price }}</span>
				<span class="text-danger mb-auto">{{ product.discount }}</span>
				<span class="flex-column" style="margin-top: auto;">{{ product.desc }}</span>
			</div>
			<div class="d-flex">
				<img src="{% static 'Core/img/star.png' %}" class="" width="32" height="32" alt="...">
			</div>
			<a href="/admin" class="btn btn-dark">allmyfellas</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}